<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Loan Visualization</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
</head>

<body>

    <nav class="container navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Loan Visualization</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="nav nav-pills ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://www.kaggle.com/wendykan/lending-club-loan-data" target="_blank">Kaggle Dataset</a>
                <a class="dropdown-item" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
                <a class="dropdown-item" href="https://plot.ly/javascript/" target="_blank">Plotly</a>
                <a class="dropdown-item" href="https://www.sqlite.org/index.html" target="_blank">SQLite</a>
                <a class="dropdown-item" href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a>
                <a class="dropdown-item" href="https://d3js.org/" target="_blank">D3</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://github.com/bswiss/loan_viz_dashboard">Github Repository</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1 style="color: rgb(70, 65, 66)">Loan Statistics Dashboard</h1>
        <h3 style="color: rgb(70, 65, 66)">Use the charts below to explore the Lending Club Loan Dataset</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Loan Data</div>
          <div class="card-body">
            <h5>SELECT State:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">State Statistics</h3>
                </div>
                <div id="state-loandata" class="panel-body"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="pie1"></div>
      </div>
      <div class="col-md-5">
        <div id="pie2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bar"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="line"></div>
      </div>
    </div>
  </div>

  <footer class="footer">
		<div class="container navbar navbar-expand-lg navbar-dark bg-primary text-white">
			<span class="text-center">Loan Visualization - 2018</span>
		</div>
	</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
